.highlight :global {
	width: 450px;
	height: 260px;
	position: relative;

	@media screen and (max-width: 450px) {
		width: 100%;
		border-radius: 0;
	}

	code[class*="language-"],
	pre[class*="language-"] {
		color: #f8f8f2;
		text-shadow: 0 1px rgba(0, 0, 0, 0.3);
		font-family:
			Consolas,
			Menlo,
			Monaco,
			"Andale Mono WT",
			"Andale Mono",
			"Lucida Console",
			"Lucida Sans Typewriter",
			"DejaVu Sans Mono",
			"Bitstream Vera Sans Mono",
			"Liberation Mono",
			"Nimbus Mono L",
			"Courier New",
			Courier,
			monospace;
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		word-wrap: normal;
		tab-size: 1;
		hyphens: none;
		font-weight: 400;
		font-size: 16px;
		line-height: 25px;
		height: 100%;
		background: #111527a6 !important;
	}

	pre[class*="language-"] {
		padding: 1em;
		overscroll-behavior-y: none;

		@media screen and (max-width: 450px) {
			width: 100%;
			border-radius: 0;
		}
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: #272822;
	}

	:not(pre) > code[class*="language-"] {
		padding: 0.1em;
		border-radius: 0.3em;
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: #778090;
	}

	.token.punctuation {
		color: #f8f8f2 !important;
	}

	.namespace {
		opacity: 0.7;
	}

	.token.property,
	.token.tag,
	.token.constant,
	.token.symbol,
	.token.deleted {
		color: #f92672;
	}

	.token.boolean,
	.token.number {
		color: #ae81ff;
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: #a6e22e;
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.variable {
		color: #f8f8f2;
	}

	.token.atrule,
	.token.attr-value,
	.token.string,
	.token.function {
		color: #e6db74;
	}

	.token.keyword {
		color: #f92672;
	}

	.token.regex,
	.token.important {
		color: #fd971f;
	}

	.token.important,
	.token.bold {
		font-weight: bold;
	}

	.token.italic {
		font-style: italic;
	}

	.token.entity {
		cursor: help;
	}
}
