p {
	color: #c7d4f2;
	font-size: larger;
}

.result-container {
	width: 450px;
	background: #111527a6;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 1rem;
	box-sizing: border-box;
	height: 100%;

	.sample-button {
		width: 180px;
		padding: 1rem 2rem;
		background-color: #e5e5e5;
		border: none;
		border-radius: 10px;
	}
}

.wave {
	// bottom: 0;
	// width: 100%;
	// position: sticky;
	// z-index: -1;

	> div {
		position: absolute;
		right: 100px;
		bottom: 60px;
		z-index: -2;
	}
}
