.path-0 {
	animation: pathAnim-0 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
	0% {
		d: path("M 0,400 C 0,400 0,133 0,133 C 89.22488038277513,140.52153110047846 178.44976076555025,148.04306220095694 274,158 C 369.55023923444975,167.95693779904306 471.42583732057415,180.34928229665073 567,169 C 662.5741626794259,157.65071770334927 751.8468899521531,122.55980861244018 847,108 C 942.1531100478469,93.44019138755982 1043.1866028708134,99.41148325358851 1143,107 C 1242.8133971291866,114.58851674641149 1341.4066985645932,123.79425837320574 1440,133 C 1440,133 1440,400 1440,400 Z");
	}

	25% {
		d: path("M 0,400 C 0,400 0,133 0,133 C 110.86124401913872,145.89952153110048 221.72248803827745,158.79904306220095 326,147 C 430.27751196172255,135.20095693779905 527.9712918660288,98.70334928229666 613,97 C 698.0287081339712,95.29665071770334 770.3923444976077,128.38755980861242 848,146 C 925.6076555023923,163.61244019138758 1008.4593301435407,165.74641148325358 1108,161 C 1207.5406698564593,156.25358851674642 1323.7703349282297,144.6267942583732 1440,133 C 1440,133 1440,400 1440,400 Z");
	}

	50% {
		d: path("M 0,400 C 0,400 0,133 0,133 C 98.49760765550238,109.66028708133972 196.99521531100476,86.32057416267943 284,93 C 371.00478468899524,99.67942583732057 446.51674641148327,136.377990430622 557,144 C 667.4832535885167,151.622009569378 812.9377990430621,130.16746411483254 908,114 C 1003.0622009569379,97.83253588516746 1047.732057416268,86.95215311004785 1128,91 C 1208.267942583732,95.04784688995215 1324.1339712918661,114.02392344497608 1440,133 C 1440,133 1440,400 1440,400 Z");
	}

	75% {
		d: path("M 0,400 C 0,400 0,133 0,133 C 80.23923444976077,155.7464114832536 160.47846889952154,178.4928229665072 275,165 C 389.52153110047846,151.5071770334928 538.3253588516747,101.7751196172249 628,104 C 717.6746411483253,106.2248803827751 748.2200956937801,160.4066985645933 822,165 C 895.7799043062199,169.5933014354067 1012.7942583732058,124.59808612440192 1123,111 C 1233.2057416267942,97.40191387559808 1336.6028708133972,115.20095693779905 1440,133 C 1440,133 1440,400 1440,400 Z");
	}

	100% {
		d: path("M 0,400 C 0,400 0,133 0,133 C 89.22488038277513,140.52153110047846 178.44976076555025,148.04306220095694 274,158 C 369.55023923444975,167.95693779904306 471.42583732057415,180.34928229665073 567,169 C 662.5741626794259,157.65071770334927 751.8468899521531,122.55980861244018 847,108 C 942.1531100478469,93.44019138755982 1043.1866028708134,99.41148325358851 1143,107 C 1242.8133971291866,114.58851674641149 1341.4066985645932,123.79425837320574 1440,133 C 1440,133 1440,400 1440,400 Z");
	}
}

.path-1 {
	animation: pathAnim-1 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
	0% {
		d: path("M 0,400 C 0,400 0,266 0,266 C 83.48325358851676,262.6985645933014 166.96650717703352,259.39712918660285 268,254 C 369.0334928229665,248.60287081339715 487.6172248803829,241.11004784688998 598,258 C 708.3827751196171,274.88995215311 810.5645933014353,316.1626794258373 910,312 C 1009.4354066985647,307.8373205741627 1106.1244019138755,258.23923444976083 1194,243 C 1281.8755980861245,227.7607655502392 1360.9377990430621,246.88038277511959 1440,266 C 1440,266 1440,400 1440,400 Z");
	}

	25% {
		d: path("M 0,400 C 0,400 0,266 0,266 C 79.35885167464116,252.2200956937799 158.71770334928232,238.4401913875598 259,236 C 359.2822966507177,233.5598086124402 480.4880382775118,242.45933014354065 597,241 C 713.5119617224882,239.54066985645935 825.3301435406701,227.7224880382775 908,220 C 990.6698564593299,212.2775119617225 1044.1913875598086,208.6507177033493 1128,217 C 1211.8086124401914,225.3492822966507 1325.9043062200958,245.67464114832535 1440,266 C 1440,266 1440,400 1440,400 Z");
	}

	50% {
		d: path("M 0,400 C 0,400 0,266 0,266 C 112.66985645933013,274.26794258373207 225.33971291866027,282.53588516746413 322,276 C 418.66028708133973,269.46411483253587 499.3110047846891,248.1244019138756 601,239 C 702.6889952153109,229.8755980861244 825.4162679425837,232.96650717703352 911,248 C 996.5837320574163,263.0334928229665 1045.0239234449762,290.00956937799043 1127,295 C 1208.9760765550238,299.99043062200957 1324.4880382775118,282.9952153110048 1440,266 C 1440,266 1440,400 1440,400 Z");
	}

	75% {
		d: path("M 0,400 C 0,400 0,266 0,266 C 100.02870813397132,298.10526315789474 200.05741626794264,330.2105263157895 287,312 C 373.94258373205736,293.7894736842105 447.7990430622009,225.26315789473688 536,230 C 624.2009569377991,234.73684210526312 726.7464114832536,312.7368421052631 829,315 C 931.2535885167464,317.2631578947369 1033.2153110047846,243.78947368421055 1135,223 C 1236.7846889952154,202.21052631578945 1338.3923444976076,234.10526315789474 1440,266 C 1440,266 1440,400 1440,400 Z");
	}

	100% {
		d: path("M 0,400 C 0,400 0,266 0,266 C 83.48325358851676,262.6985645933014 166.96650717703352,259.39712918660285 268,254 C 369.0334928229665,248.60287081339715 487.6172248803829,241.11004784688998 598,258 C 708.3827751196171,274.88995215311 810.5645933014353,316.1626794258373 910,312 C 1009.4354066985647,307.8373205741627 1106.1244019138755,258.23923444976083 1194,243 C 1281.8755980861245,227.7607655502392 1360.9377990430621,246.88038277511959 1440,266 C 1440,266 1440,400 1440,400 Z");
	}
}
