@import "https://fonts.googleapis.com/css2?family=Handlee&display=swap";
@import "https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: Handlee, cursive;
	background: linear-gradient(90deg, hsla(208deg, 33%, 21%, 1) 0%, hsla(211deg, 36%, 46%, 1) 100%);
}

h1 {
	font-family: "Luckiest Guy", cursive;
	text-transform: uppercase;
}

ul,
li,
a {
	text-decoration: none;
	color: #587ed9;
	list-style: none;
	padding: 0;
	font-family: Voltaire, sans-serif;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.cloud {
	position: absolute;
	left: 200px;
}
