@import "https://fonts.googleapis.com/css2?family=Voltaire&display=swap";

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-size-adjust: 100%;
	font-family: Voltaire, cursive;
}

ul,
li,
a {
	text-decoration: none;
	color: #587ed9;
	list-style: none;
	padding: 0;
}

.main-layout {
	display: flex;
	flex: 1;
	height: 93vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(90deg, hsla(205deg, 46%, 10%, 1) 0%, hsla(191deg, 28%, 23%, 1) 50%, hsla(207deg, 41%, 27%, 1) 100%);
}
